<nav id='site-header' class='navbar navbar-expand-lg navbar-light'>
  <div class='site-inline-container'>
    <a class='navbar-brand' href="{{ '/' | relative_url }}" title='Home'>
      {{ site.title | newline_to_br }}
    </a>

    <button class='navbar-toggler' type='button' data-toggle='collapse'
            data-target='#site-header-navbar' aria-controls='site-header-navbar'
            aria-expanded='false' aria-label='navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id="site-header-navbar">
      <ul class='nav navbar-nav ml-auto justify-content-end'>
        {% for item in site.menu %}
          {% if item.sub %}
            <li class='nav-item dropdown'>
              <a class='nav-link dropdown-toggle' href='#' id='site-{{ item.label | slugify }}-dropdown'
                 data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                {{ item.label }}
              </a>
              <div class='dropdown-menu' aria-labelledby='site-{{ item.label | slugify }}-dropdown'>
                {% for sub in item.sub %}
                  {% assign href = sub.link %}
                  {% if href contains '://' %}
                    {% assign url = href %}
                  {% else %}
                    {% assign url = href | relative_url %}
                  {% endif %}
                  <a class='dropdown-item' href='{{ url }}'>{{ sub.label }}</a>
                {% endfor %}
              </div>
            </li>
          {% else %}
            {% assign href = item.link %}
            {% if href contains '://' %}
              {% assign url = href %}
            {% else %}
              {% assign url = href | relative_url %}
            {% endif %}
            <li class='nav-item'>
              <a class='nav-link' href='{{ url }}'>{{ item.label }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
