<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>

  <!-- canonical should be absolute -->
  <link rel="canonical" href="{{ page.url | absolute_url }}" />

  <!-- internal assets should be relative -->
  <link rel="icon" type="image/png" href="{{ '/img/logo.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">

  <script src="{{ '/assets/jquery-3.2.1.min.js' | relative_url }}"></script>
  <!-- Mirador 3 via unpkg CDN -->
  <link rel="stylesheet" href="https://unpkg.com/mirador@3/dist/mirador.min.css">
  <script src="https://unpkg.com/mirador@3/dist/mirador.min.js"></script>
</head>