{% if include.image %}
  {% assign image = '/img/' | append: include.image %}
{% else %}
  {% assign image = '/img/default.jpg' %}
{% endif %}

{%- capture style -%}
  background-image: url('{{ image | absolute_url }}');
  background-position: 0% {{ include.y | default: '15%' }};
  {% if include.clickable %}
  cursor: pointer;
  {% endif %}
  {% if include.height %}
  height: {{ include.height }} !important;
  {% endif %}
{%- endcapture -%}

{%- capture onclick -%}
{% if include.clickable and include.link %}
  onclick="window.location='{{ include.link | absolute_url }}'; return false;"
{% endif %}
{%- endcapture -%}

<div class='wax-parallax full-width {% if page.banner %}top-banner{% else %}inline-parallax{% endif %}'>
  <div class='parallax-image' style="{{ style | strip }}" {{ onclick | strip }}></div>

  {% if include.caption %}
  <div class='parallax-caption'>
    <div class='wax-inline-container' style="text-align:center;">
      {{ include.caption }}
    </div>
  </div>
  {% endif %}
</div>